<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 设置网站标题 -->
    <title>小米账号-注册</title>
    <!-- 设置网站图标 -->
    <link rel="icon" href="/images/favicon/favicon.ico">
    <!-- 引入重置样式表 -->
    <link rel="stylesheet" href="/css/reset.css">
    <!-- 引入login.css -->
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/jq_3.3.1_mi.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/mylayer.js"></script>
</head>
<body>
<div class="wrap">
    <!-- 左边背景 -->
    <div class="wrap_bg"></div>
    <!-- 右边注册的内容 -->
    <div class="login">
        <!-- 上标题 -->
        <div class="login_hd">
            <div class="hd_left">
                <img src="/images/logo-mi2.png" class="logo">
                小米帐号
            </div>

            <ul class="hd_right">
                <li><a href="#">用户协议</a></li>
                <li><a href="#">隐私政策</a></li>
                <li><a href="#">帮助中心</a></li>
                <li><a href="#">中文(简体)</a></li>
            </ul>
        </div>

        <div class="login_box">
            <div id="loginFrom" class="login_card">
                <form class="layui-form" action="">
                    <img src="/images/two.png" class="two">
                    <h2 class="title">注册</h2>
                    <!-- 账号 -->
                    <div class="user_box">
                        <div class="user">
                            <input type="text" name="name" id="u" class="username">
                            <label for="u">邮箱/手机号码/小米ID</label>
                        </div>
                        <div class="user_msg">请输入账号</div>
                    </div>
                    <!-- 密码 -->
                    <div class="user_box">
                        <div class="user">
                            <input type="password" name="password" id="u" class="password">
                            <label for="u">密码</label>
                        </div>
                        <div class="user_msg">请输入密码</div>
                    </div>

                    <div class="user_box">
                        <div class="user">
                            <input type="password" name="passwordCheck" id="u" class="password">
                            <label for="u">密码</label>
                        </div>
                        <div class="user_msg">请输入再次输入密码</div>
                    </div>
                    <!-- 注册按钮 -->
                    <button type="button" class="login_btn" lay-submit lay-filter="submitRegister">注册</button>
                    <!-- 注册说明 -->
                    <div class="login_other">
                        <a href="#" class="l_right">手机号注册</a>
                    </div>
                    <!-- 注册方式 -->
                    <div class="login_method">
                        <h3>其他注册方式</h3>
                        <div class="method_list">
                            <a href="#"><img src="/images/qq.png" alt=""></a>
                            <a href="#"><img src="/images/wx1.png" alt=""></a>
                            <a href="#"><img src="/images/sina.png" alt=""></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form;

        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var requestURI = urlParams.get("requestURI");
        console.log(requestURI);

        form.on('submit(submitRegister)', function (data) {
            var field = data.field;
            $.post(
                '/user/register',
                field,
                function (result) {
                    if (result.code == 0) {
                        mylayer.okUrl(result.msg, requestURI);
                    } else {
                        mylayer.errorMsg(result.msg);
                    }
                },
                'json'
            );
        });
    });
</script>
</body>
</html>